@media only screen and (max-width: 900px) {
  section {
    h1 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1.4rem;
    }
  }

  .sobre {
    .sobre-content {
      justify-content: center;
      justify-content: space-between;
      align-items: center;
      height: 50vh;
      overflow: scroll;
      p {
        text-align: center;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;

    .nav-links {
      ul {
        //    display: flex;
        //    justify-content: center;

        li {
          display: none;
          a {
            font-size: 10px !important;
            margin: 0;
          }
        }
      }
    }
  }

  form {
    min-width: 60vw;
  }

  .logo {
    padding-top: 3vh;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

    .contato,
    .contatos {
      padding: 3vh;
    }

    .redes-sociais {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .midias {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
    }

    .contato-lista {
      text-align: center;
    }

    .selos {
      img {
        max-width: 10vh;
        padding: 4vh 0vh;

        // display: none;
      }
    }
  }
}
