@import "ensaios";
@import "queries";


  

:root {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  //   --cor-principal: #ebd4e2;
  --cor-principal: #ebd4e2;
  --cor-secundaria: #bb7c99;
  --cor-acento: #74485d;
  --overlay: #ece6df;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // overflow: hidden;

  //   img {
  // max-height: 100%;
  //   }
}

section {
  min-height: 100vh;
  min-width: 100vw;
}

span{
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  margin-top: 5vh;
  //   margin-bottom: 5vh;
  font-weight: 500;
  color: var(--cor-acento);
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  font-weight: 1000;
  text-align: center;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
p {
  font-size: 2rem;
  font-weight: 300;
  color: var(--cor-secundaria);
}

.separador {
  margin-bottom: 5vh;
  margin-top: 5vh;
  background-color: var(--cor-secundaria);
  height: 0.015vh;
  width: 15vw;
}

// ==============================SEÇÕES==============================

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vh 5vh 0px 5vh;
  max-height: 30vh;
  background-color: rgba($color: #ece6df, $alpha: 0.1);
  backdrop-filter: blur(1px);
  border: 1px solid rgba($color: #000000, $alpha: 0.03);
  //   background-color: rgba(238, 227, 227, 0.12);
  .logo {
    img {
      //   box-shadow: 0px 5px 10px 2px rgba($color: #000000, $alpha: 0.05);
      //   box-shadow: 0px 10px 15px 15px rgba($color: #000000, $alpha: 0.1);
      height: 7vh;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-around;
      li {
        list-style: none;
        margin: 5vh;
        a {
          font-weight: 300;
          text-transform: uppercase;
          font-size: 1.5rem;
          letter-spacing: 3px;
          text-decoration: none;
          color: var(--cor-secundaria);
          font-weight: 300;
          transition: 0.2s all ease 0s;
          //   color: white;
          &:hover{
            
            font-size: 1.7rem;
            color: var(--cor-acento);
            border-bottom: 1px solid var(--cor-secundaria);
            
          
        }



}

      }
    }
  }
}

header {
  min-height: 100vh;
  background-image: url(/img/Home/Maju/Foto-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  h1{
    // color:white;
    font-size: 6rem;
    font-weight: 600;
    // margin: auto;
  }
  
  h2{
    font-weight: 300;
    color: var(--cor-acento);
    letter-spacing: 0.3rem;
    text-align: center;
  }
  
  
}

.sobre {
  //   max-height: 100vh;
  background-color: rgba($color: #ece6df, $alpha: 0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: var(--cor-acento);
    text-align: center;
    // margin-top: 3vh;
  }

  p {
    width: 80vw;
    // margin-top: 10vh;
    text-align: left;
  }
}

.portfolio {
  background-color: rgba($color: #ece6df, $alpha: 0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
  }

  img {
    // height: 300px;
    width: 100%;
    // object-fit: cover;
  }

.grid {
    
    gap: 0.3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

img{


  transition: all 0.35s ease 0s ;

  &:hover{
    transform: scale(1.03);
    object-fit: cover;
    cursor: pointer;
  }

  
}

a{
text-decoration: none;  


h2{
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--cor-acento);
  padding: 3rem 0;
  transition: 0.2s all ease-in-out;
  
  &:hover{
    transform: translateY(5px);
    font-weight: 500;
  }
  
}
  
}


}
}


.fale-conosco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .fale-conosco-container {
    display: flex;
    flex-direction: row;
  
  }

  img {
    max-height: 50vh;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: blue;
    width: 25vw;

    label {
      font-size: 1.8rem;
      letter-spacing: 1.5px;
      margin-bottom: 10px;
    }

    input {
      max-width: 100%;
      min-height: 3vh;
    }
    textarea {
      display: block;
      max-width: 100%;
      min-height: 30vh;
    }
    button {
      background-color: var(--cor-principal);
      //   border: 0.05px solid var(--cor-acento);
      border: none;
      border-radius: 0.1rem;
      margin-top: 2vh;
      padding: 0.5rem;
      font-size: 2rem;
      color: var(--cor-acento);
    }
  }
}

footer {
  background-color: rgba($color: #ece6df, $alpha: 0.22);
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;

  .redes-sociais {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .contatos{
      margin-top:1vh ;
    }

    h2 {
      color: var(--cor-acento);
      font-weight: 300;
      text-align: left;
      text-transform: uppercase;
      font-size: 2rem;
      color: var(--cor-acento);
    }

    a{
      text-decoration: none;
    }

    p{
      font-size: 1.6rem;
    }

    ul {
      list-style: none;
      li {
        display: flex;
        align-items: center;
        margin: 1vh;
        margin-left: 0vh;
        i {
          font-size: 2rem;
          margin-right: 0.3vw;
        }
      }
    }
  }
  img {
    max-height: 20vh;
  }
}
